html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

body{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-width: 900px;
}

.header{
  height: 100%;
  text-align: center;
  color:white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/apples.jpg);
}

 .fonts, a{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}

.header_content{
  padding-top: 3.2%;
  padding-left: 1.3%;
  padding-right: 4.6%;
}

.logo{
  font-size: 1em;
  width: 250px;
  letter-spacing: 5px;
}

.navigation{
  float:right;
  font-size: 1em;
  position: relative;
  top: -1.4em;
  width: 29%;
  display: flex;
  justify-content: space-between;
}

.links{
  text-decoration: none;
  color:white;
} 

.main_sign{
  margin-top: 14%;
  font-size: 4em;
  letter-spacing: 8px;
}

.main_sign span{
  font-size: 1.8em;

}

.brand{
    margin-bottom: 12%;
} 

button{
  border: 3px solid white;
  cursor: pointer;
  padding:1.4em 8em;
  background-color:  rgba(16,16,16,0.5);
  margin-bottom: 12%;
}

button a{
  font-size: medium;
} 

.first_section{
  margin-left: auto;
  margin-right: auto;
  padding: 10% 3%;
  display: flex;
  justify-content: space-between;
}

.left_content{
  font-size: xx-large;
  width: 48%;
}

span{
  font-weight: bold;
}

.right_content{
  font-size: large;
  width: 48%;
}

.main_section{
  background: #F3F3F3;
  padding-top: 12%;
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 50px;
}

.main_section h1{
  font-size: 1.9em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 7%;
}

article{
  margin-bottom: 20px;
  display:flex;
  justify-content: space-between;
}

.image_container{
  position: relative;
  width:50%;
  height:20%;
  color: white;
}

.image_container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 5px;
  background-color: rgba(0,0,0,0.3);  
  z-index: 1;
}

.image_container img{
  width:100%;
}

.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 16px;
  z-index: 10;
}

.top-right {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 2%;
  padding: 6px 10px;
  border: 2px solid white;
  background-color:  rgba(16,16,16,0.5);
  z-index: 10;
}

.text_content {
  margin-top: 5%;
  text-align: center;
  width: 36%;
}

.bottom_section{
  padding-top:5%;
  padding-bottom:5%;
  padding-left: 2%;
  background-color: white; 
}

.bottom_section p{
  text-align: center;
  width: 40%;
  margin-top: 10px;
  font-size: x-large;
  float: left;
  /* border: 1px solid red; */
}

.bottom_section #email{
  /* margin-left: 6%; */
  margin-top: -6px;
  height: 59px;
  width: 50%;
  border:1px solid #343638;
  background-color: #F3F3F3;
}

.bottom_section #submit{
  cursor: pointer;
  border:none;
  padding: 25px 1%;
  margin-left:-5px;
  color:white;
  background-color: #343638;
}

.last_section{
  padding-top: 10%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 200px;
  border-bottom: 1px solid#9E9E9E;
}
.last_section p{
  color:#9E9E9E;
}
.last_news{
  width: 24%;
}

.last_news #email{
  height: 30px;
  width: 50%;
  border:1px solid #343638;
  background-color: #F3F3F3;
}

.last_news #submit{
  cursor: pointer;
  border:none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left:-4px;
  color:white;
  background-color: #343638;
}

.footer_nav{
  float:right;
  font-size: 1em;
  position: relative;
  /* line-height: 20px; */
  top: -1.4em;
  width: 29%;
  display: flex;
  justify-content: space-between;
}
.footer_nav a{
  color:#9E9E9E;
}
footer p{
  color:#9E9E9E;
}